<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumCICD">
  <test thread-count="5" name="Regression Test">
    <classes>
      <class name="edureka.devops.LoginEdureka"/>
    </classes>
  </test> <!-- Regression Test -->
</suite> <!-- SeleniumCICD -->
